
/* TYPE */
body{
	font-size: 16px;
	font-family: raleway;
  color: #757575;
}
h1{
	font-family: 'Raleway';
  font-weight: 400;
  color: #171717;
  font-size: 2.25rem;
}
h2{
	font-family: 'Raleway';
  font-weight: 600;
  color: #171717;
  text-transform: uppercase;
  font-size: 1.25rem;
}
button{
  font-size: .75rem;
  padding: .76rem .75rem;
  font-family: 'Raleway';
  background: none;
  border: 1px solid #e4e4e4;
  border-radius: .25rem;
  font-weight: 600;
  text-transform: uppercase;
  float: left;
}
input{
  font-size: 1rem;
  padding: .6rem .75rem;
  font-family: 'Raleway';
  background: white;
  border: 1px solid #e4e4e4;
  border-radius: .25rem;
  margin-right: .5rem;
  float: left;
}
ul{
  padding: 0 0 0 2rem;
}
li{
  margin-bottom: .75rem;
}

/* Layout */
.container{
  width: 90%;
}
.row{
  display: inline-block;
  width: 100%;
}
.column, .columns{
  margin-bottom: 1.5rem;
}
.no-pad{padding: 0;}

/* MISC */
.bulletlist{
  padding: 1.25rem;
  border-radius: 0.25rem;
}
.laterbase{
  /*background: #ebf6ff;*/
  background-image: url(/assets/img/flowers.png);
}
.laterbase h2{
  -webkit-animation:colorchange 2s infinite normal;
}
.sin-bin{
  border: 1px solid #bf7b7b;
  border-radius: 0.25rem;
}
.advice{
  background: aliceblue;
  padding: 1.25rem;
}

@-webkit-keyframes colorchange {
  0% {color: #171717;}
  /*50% {color: #b19c48;} GOLD */
  50% {color: #5c9250;} /* GREEN */
  100% {color: #171717;}
}

@media (min-width:576px){
  .container{
    width: 80%;
  }
}