
/* TYPE */
body{
	font-size: 16px;
	font-family: raleway;
  color: #757575;
}
h1{
	font-family: 'Raleway';
  font-weight: 400;
  color: #171717;
  font-size: 2.25rem;
}
h2{
	font-family: 'Raleway';
  font-weight: 600;
  color: #171717;
  text-transform: uppercase;
  font-size: 1.25rem;
}
button{
  font-size: .75rem;
  padding: .76rem .75rem;
  font-family: 'Raleway';
  background: none;
  border: 1px solid #e4e4e4;
  border-radius: .25rem;
  font-weight: 600;
  text-transform: uppercase;
  float: left;
}
input{
  font-size: 1rem;
  padding: .6rem .75rem;
  font-family: 'Raleway';
  background: white;
  border: 1px solid #e4e4e4;
  border-radius: .25rem;
  margin-right: .5rem;
  float: left;
}
ul{
  padding: 0 0 0 2rem;
}
li{
  margin-bottom: .75rem;
}

/* MISC */
.laterbase{
  background: #ebf6ff;
}
.container{
  width: 90%;
}
.no-pad{padding: 0;}

@media (min-width:576px){
  .container{
    width: 80%;
  }
}